.article-page {
  padding: 2rem 0 4rem 0;
}

.article-page__article {
  max-width: 45rem;
}

.article-page__aside {
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

.article-page__aside-title {
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.article-page__aside-title::after {
  content: '';
  width: 50%;
  background: #ff4444;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.article-page__recommended-articles {
  list-style: none;
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 1100px) {
  .article-page {
    display: flex;
  }

  .article-page__article {
    flex-shrink: 0;
  }

  .article-page__aside {
    margin: 0;
    padding: 0;
    border: none;
    margin-left: 3rem;
  }
}
