.article__title {
  color: #333;
  margin-bottom: 0.5rem;
}

.article__meta {
  margin-bottom: 1rem;
}

.article__author {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  color: #555;
}

.article__date {
  font-size: 0.9rem;
}

.article__body p {
  line-height: 1.75rem;
}

.article__body p + p {
  margin-top: 1rem;
}
