.hero {
  background: #f3f3f3;
}

.hero__container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__heading {
  font-size: 5rem;
  font-weight: 800;
  color: #222;
}

.hero__text {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
