@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

#root {
  /* push footer to bottom on pages where content does not reach the bottom of
  the viewport */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  margin-top: 4rem; /* header height */
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.btn {
  padding: 0.5em 1em;
  border: none;
  background: #ff4444;
  color: white;
  border-radius: 1000px;
}
